.RootGreeting {
  justify-content: center;
}

.icons {
  height: 25px;
  width: 25px;
}

.rootcard {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  /* padding: 25px; */
}
