.RootGreeting {
  justify-content: center;
}

.rootcard {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
}

.paper {
  margin: 25px;
  /* text-align: center; */
}
